.DS_Store
a.out
.idea
*.vcd
runs
tt
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
oss-cad-suite
oss-cad-suite-*
src/formal/
src/formal_bmc/
src/formal_cover/
src/formal_prove/
harden.log
~
